@model GulfSeal.Models.InformationType

@{
    ViewBag.Title = "Create Information type";
}


<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-md-10 mx-auto">


                    <form action="~/InformationTypes/Create" method="post" class="card" enctype="multipart/form-data">

                        @Html.AntiForgeryToken()
                        <div class="modal-body">

                            <div class="text-center mb-6">
                                <h2 style="color:#4A4A4A;padding-top:20px;font-size:22px;">Create New Information Type</h2>
                            </div>


                            <div class="form-horizontal">

                                <div class="row" style="padding-left:30px;padding-right:30px;padding-top:16px;">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group col-md-6" style="display:inline-block">

                                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "form-label" })

                                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group col-md-6" style="display:inline-block">

                                        @Html.LabelFor(model => model.Extentions, htmlAttributes: new { @class = "form-label" })

                                        @Html.EditorFor(model => model.Extentions, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Extentions, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group" style="padding-top:15px;">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>