@model IEnumerable<GulfSeal.Models.partenrs>

@{
    ViewBag.Title = "Index";
}






<div class="my-3 my-md-5">
    <div class="container">
        <div class="page-header">
            <h1 class="page-title">
                Partners
            </h1>
        </div>
        <div class="row row-cards row-deck">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">

                            <a href="@Url.Action("Create","Partners")" class="btn btn-primary btn-sm"
                               style="color:#ffffff">
                                <span class="fa fa-plus"></span>
                                Create New Partner
                            </a>

                        </h3>

                    </div>
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap" id="PartnersTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LogoLink)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.order)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="@item.LogoLink" style="width:60px;height:60px;" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.order)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {

    <script>
        require(['jquery', 'selectize'], function ($, selectize) {



            $(document).ready(function () {
                $('#PartnersTable').DataTable({ fixedHeader: true, aaSorting: [] });
            });


        });
    </script>

}
