@model GulfSeal.Models.sec_lang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sec_lang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Language.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sim_key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sim_key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.page)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.page)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
