<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

    <!-- LOAD CSS FILES -->
    <link href="~/Content/them/css/style.css" rel="stylesheet" />


</head>
<body>
    <!-- Preload images start //-->
    <div class="images-preloader" id="images-preloader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- Preload images end //-->

    <div id="wrapper">
        <!-- header begin -->
        <header class="site-header-1 site-header">
            <!-- Main bar start -->
            <div id="sticked-menu" class="main-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- logo begin -->
                            <div id="logo" class="pull-left">
                                <a href="../../Home/Index">
                                    <img src="~/Content/them/images/logo.png" alt="" class="logo">
                                </a>
                            </div>
                            <!-- logo close -->
                            <!-- btn-mobile menu begin -->
                            <a id="show-mobile-menu" class="btn-mobile-menu hidden-lg hidden-md"><i class="fa fa-bars"></i></a>
                            <!-- btn-mobile menu close -->
                            <!-- mobile menu begin -->
                            <nav id="mobile-menu" class="site-mobile-menu hidden-lg hidden-md">
                                <ul></ul>
                            </nav>
                            <!-- mobile menu close -->
                            <!-- desktop menu begin -->
                            <nav id="desktop-menu" class="site-desktop-menu hidden-xs hidden-sm">
                                <ul class="clearfix">
                                    <li class="active">
                                        <a href="../../Home/Index">Home</a>
                                    </li>
                                    <li>
                                        <a>Gulf Seal LTD</a>
                                        <ul> 
                                             
                                            @Html.Action("Index", "StaticContent")
                                            <li><a href="../../Projects/Index">Projects</a></li>
                                           
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a>Information</a>

                                        <ul>
                                            @Html.Action("Index", "InformationTypes")
                                        </ul>
                                        
                                    </li> 
                                    <li>
                                        <a href="../../Article/Index">News</a>
                                        
                                    </li>
                                    <li>
                                        <a href="../../Vendor/Index">Agents & distributors</a>
                                    </li>
                                    <li>
                                        <a href="#">Carees</a>
                                    </li>
                                </ul>
                            </nav>  
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        <div class="gray-line"></div>

        <!-- Modal Search begin -->
        <div id="myModal" class="modal fade" role="dialog">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-dialog myModal-search">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <form role="search" method="get" class="search-form" action="">
                            <input type="search" class="search-field" placeholder="Search here..." value="" title="" />
                            <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search close -->
        <!-- Menu OffCanvas right begin -->
        <div class="navright-button hidden-sm">
            <div class="compact-menu-canvas" id="offcanvas-menu">
                <h3>menu</h3><a id="btn-close-canvasmenu"><i class="fa fa-close"></i></a>
                <nav>
                    <ul class="clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="features.html">Features</a></li>
                        <li><a href="pages.html">Pages</a></li>
                        <li><a href="portfolio.html">Portfolios</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Menu OffCanvas right close -->

        @RenderBody()

        <!-- footer begin -->
        <footer class="footer-1 bg-color-1">

            <!-- main footer begin -->
            <div class="main-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="compact-widget">
                                <div class="widget-inner">
                                    <img class="logo-footer" src="~/Content/them/images/logo-footer.png" alt="compact company">
                                    <p>Compact is a clean PSD theme suitable for corporate, You can customize it very easy to fit your needs, semper suscipit metus accumsan at. Vestibulum et lacus urna. Nam luctus ac tortor eu</p>
                                    <div class="social-icons clearfix">
                                        <a href="#" class="facebook tipped" data-title="facebook" data-tipper-options='{"direction":"top","follow":"true"}'><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="twitter tipped" data-title="twitter" data-tipper-options='{"direction":"top","follow":"true"}'><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="google tipped" data-title="google +" data-tipper-options='{"direction":"top","follow":"true"}'><i class="fa fa-google-plus"></i></a>
                                        <a href="#" class="youtube tipped" data-title="youtube" data-tipper-options='{"direction":"top","follow":"true"}'><i class="fa fa-youtube-play"></i></a>
                                        <a href="#" class="linkedin tipped" data-title="linkedin" data-tipper-options='{"direction":"top","follow":"true"}'><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="compact-widget">
                                <h3 class="widget-title">Features</h3>
                                <div class="widget-inner">
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Our Story</a></li>
                                        <li><a href="#">Term &amp; Conditions</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Sites Map</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="compact-widget">
                                <h3 class="widget-title">Contact Us</h3>
                                <div class="widget-inner">
                                    <p>Address: 379 5th Ave  New York, NYC <br> 10018, United States</p>
                                    <p>Phone: +(112) 345 6879</p>
                                    <p>Fax: +(112) 345 8796</p>
                                    <p>Email: contact@compact.com</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="compact-widget">
                                <h3 class="widget-title">Newsletter</h3>
                                <div class="widget-inner">
                                    <div class="newsletter newsletter-widget">
                                        <p>Stay informed about our news and events</p>
                                        <form action="" method="post">
                                            <p><input class="newsletter-email" type="email" name="email" placeholder="Your email"><i class="fa fa-envelope-o"></i></p>
                                            <p><input class="newsletter-submit" type="submit" value="Subscribe"></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- main footer close -->
            <!-- sub footer begin -->
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>&copy; @DateTime.Now.Year - Gulf Seal</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sub footer close -->

        </footer>
        <!-- footer close -->        
    </div>


        <!-- LOAD JS FILES -->

        <script src="~/Content/them/js/jquery.min.js"></script>
        <script src="~/Content/them/js/bootstrap.min.js"></script>
        <script src="~/Content/them/js/imagesloaded.pkgd.min.js"></script>
        <script src="~/Content/them/js/easing.js"></script>
        <script src="~/Content/them/js/owl.carousel.js"></script>
        <script src="~/Content/them/js/jquery.fitvids.js"></script>
        <script src="~/Content/them/js/wow.min.js"></script>
        <script src="~/Content/them/js/jquery.magnific-popup.min.js"></script>

        <!-- Waypoints-->
        <script src="~/Content/them/js/jquery.waypoints.min.js"></script>
        <script src="~/Content/them/js/sticky.min.js"></script>
        <script src="~/Content/them/js/tipper.js"></script>
        <script src="~/Content/them/js/compact.js"></script>
        <script src="~/Content/them/js/custom-index1.js"></script>

        <!-- SLIDER REVOLUTION SCRIPTS  -->
        <script src="~/Content/them/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
        <script src="~/Content/them/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="~/Content/them/js/revslider-custom.js"></script>




        @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
        @RenderSection("scripts", required: false)
</body>
</html>

