@model GulfSeal.Models.Language

@{
    ViewBag.Title = "Create Language";
}

<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-md-10 mx-auto">


                    <form action="~/Language/Create" method="post" class="card" enctype="multipart/form-data">

                        @Html.AntiForgeryToken()
                        <div class="modal-body">

                            <div class="text-center mb-6">
                                <h2 style="color:#4A4A4A;padding-top:20px;font-size:22px;">Create New Language</h2>
                            </div>


                            <div class="form-horizontal">
                         

                                <div class="row" style="padding-left:30px;padding-right:30px;padding-top:16px;">


                                    <div class="form-group col-md-4" style="display:inline-block">
                                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })
                                        
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        
                                    </div>
                                    <div class="form-group col-md-4" style="display:inline-block">

                                        @Html.LabelFor(model => model.Abbreviation, htmlAttributes: new { @class = "form-label" })
                                   
                                        @Html.EditorFor(model => model.Abbreviation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Abbreviation, "", new { @class = "text-danger" })
                                 
                                    </div>

                                    <div class="form-group col-md-4" style="display:inline-block">
                                       
                                        @Html.LabelFor(model => model.RTL, htmlAttributes: new { @class = "form-label" })
                                        <div class="form-control">
                                            <div class="checkbox">
                                                <label class="custom-switch">

                                                    @Html.CheckBoxFor(m => m.RTL, new { @class = "custom-switch-input"})

                                                    <span class="custom-switch-indicator"></span>
                                                    <span class="custom-switch-description">RTL?</span>
                                                </label>
                                                @Html.ValidationMessageFor(model => model.RTL, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-group col-md-12">
                                        <label class="form-label">
                                            Flag
                                        </label>

                                        <div class="col-md-4">
                                            <input type="file" class="form-control" name="FlagImageUrl" id="FlagImageUrl" style="margin-left:-15px;" required />
                                        </div>
                                    </div>

                                    <div class="form-group" style="padding-top:15px;">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>