 @model GulfSeal.Areas.Admin.Models.ViewModels.ArticleContentsViewModels
@{
    ViewBag.Title = "Edit Article Contents";
}

<h2>Create Content</h2>




<form action="~/Article/EditArticleLanguages" method="post">

    @Html.AntiForgeryToken()


    <input type="hidden" id="articleId" name="articleId" value="@ViewBag.articleId" />

    <div class="form-horizontal">
        <h4>Languages </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @{ int i = 0;}
        @foreach (var language in ViewBag.Languages)
        {
            <div class="form-group">
                @language.Name
            </div>
            <input type="hidden" id="ArticleContents_@(i)__LanguageId" name="ArticleContents[@(i)].LanguageId" value="@language.Id" />
            
            if (Model.ArticleContents.Count() >= i + 1)
            {
                <input type="hidden" id="ArticleContents_@(i)__Id" name="ArticleContents[@(i)].Id" value="@Model.ArticleContents[i].Id" />
                <div class="form-group">
                    Title
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ArticleContents[i].Title, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    Description
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ArticleContents[i].Description, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            }

            else
            {
                <input type="text" id="Title" name="Title" />
                <input type="text" id="Description" name="Description" />
                <hr />

            }
            i = i + 1;
        }


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>




<div>
    @Html.ActionLink("Back to List", "Index")
</div>
