 @model GulfSeal.Areas.Admin.Models.ViewModels.ArticleContentsViewModels
@{
    ViewBag.Title = "Edit Article Contents";
}

<h2>Create Content</h2>




<form action="~/Article/EditArticleLanguages" method="post">

    @Html.AntiForgeryToken()


    <input type="hidden" id="articleId" name="articleId" value="@ViewBag.articleId" />

    <div class="form-horizontal">
        <h4>Languages </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @{ int i = 0;}
        @foreach (var content in Model.ArticleContentsWithLanguages)
        {

            <div class="form-group">
                @content.LanguageName
            </div>

            <input type="hidden" id="ArticleContentsWithLanguages_@(i)__ArticleContents_LanguageId" name="ArticleContentsWithLanguages[@(i)].ArticleContents.LanguageId" value="@content.LanguageId" />
            <input type="hidden" id="ArticleContentsWithLanguages_@(i)__ArticleContents_ArticleId" name="ArticleContentsWithLanguages[@(i)].ArticleContents.ArticleId" value="@ViewBag.articleId" />


            <div class="form-group">
                Name
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ArticleContentsWithLanguages[i].ArticleContents.Title, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                Description
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ArticleContentsWithLanguages[i].ArticleContents.Description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            i = i + 1;
        }
         
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>




<div>
    @Html.ActionLink("Back to List", "Index")
</div>
